webclientv2TC/WindowsFormsApplication13/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://145.93.90.28:8733/Design_Time_Addresses/WashSystem/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WashSystem" />
  <xs:element name="GetAllPrograms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WashSystem" minOccurs="0" name="GetAllProgramsResult" nillable="true" type="q1:ArrayOfPrograms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReceivedString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReceivedStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendReceivedStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WashSystem" minOccurs="0" name="UpdateListResult" nillable="true" type="q2:ArrayOfGarments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WashSystem" minOccurs="0" name="GetWashResult" type="q3:Wash" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>