webclientv2TC/WindowsFormsApplication13/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://145.93.90.28:8733/Design_Time_Addresses/WashSystem/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://145.93.90.28:8733/Design_Time_Addresses/WashSystem/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://145.93.90.28:8733/Design_Time_Addresses/WashSystem/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WashSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllPrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrograms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendReceivedString_InputMessage">
    <wsdl:part name="parameters" element="tns:SendReceivedString" />
  </wsdl:message>
  <wsdl:message name="IService1_SendReceivedString_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendReceivedStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateList" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWash" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWashResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllPrograms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPrograms" message="tns:IService1_GetAllPrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllProgramsResponse" message="tns:IService1_GetAllPrograms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendReceivedString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendReceivedString" message="tns:IService1_SendReceivedString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendReceivedStringResponse" message="tns:IService1_SendReceivedString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateList" message="tns:IService1_UpdateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateListResponse" message="tns:IService1_UpdateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWash">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWash" message="tns:IService1_GetWash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWashResponse" message="tns:IService1_GetWash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPrograms">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPrograms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceivedString">
      <soap:operation soapAction="http://tempuri.org/IService1/SendReceivedString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWash">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://145.93.90.28:8733/Design_Time_Addresses/WashSystem/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>