webshopclient/webshopclient/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8733/Design_Time_Addresses/WashSystem/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WashSystem" />
  <xs:element name="x">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WashSystem" minOccurs="0" name="clothes" nillable="true" type="q1:Clothes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WashSystem" minOccurs="0" name="xResult" type="q2:ClothesTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>